**/*.lock
**/*.pyc
.android/
.gsd-keyboard.settings-ported
AIMP/
BraveSoftware/
Code
Code - OSS
DankMaterialShell
FreeCAD/
Google/
KDE
Kitware/
MusicBrainz/
PlasmaDiscoverUpdates
Qt
QtProject
QtProject.conf
Thunar
Trolltech.conf
VSCodium
arkrc
astro/
auroraerc
autostart
baloofileinformationrc
baloofilerc
bash/.bash_history
bluedevilglobalrc
cachyos
cachyos-hello.json
clangd
containers/policy.json
dconf/
dgop
discord
discoverrc
dolphinrc
dosbox
drkonqirc
evolution/
filetypesrc
fish/fish_variables
fish/functions/fish_prompt.fish
fontconfig
gh/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
helix/runtime
htop
ibus/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
kate/externaltools
katerc
katevirc
kcharselectrc
kcminputrc
kconf_updaterc
kde.org
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kgammarc
kglobalshortcutsrc
kio_ftprc
kiorc
kitty/dank-theme.conf
klaunchrc
kmenueditrc
kmousetool_strokes.txt
kmousetoolrc
knfsshare
konsolerc
konsolesshconfig
krdpserverrc
krfbrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktimezonedrc
ktrashrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwriterc
libaccounts-glib
libreoffice/4
menus
menus/applications-merged
micro/backups
micro/bindings.json
micro/buffers/history
mimeapps.list
monitors.xml*
nautilus
nextjs-nodejs/
niri/dankshell-colors.kdl
nushell/history.sqlite3
nushell/history.sqlite3-shm
nushell/history.sqlite3-wal
nushell/history.txt
octopi
org.gnome.Ptyxis/
partitionmanagerrc
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma_calendar_holiday_regions
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
qalculate
qt5ct/qt5ct.conf
qt6ct
rclone
session
signond
soffice.binrc
spectaclerc
strawberry/
systemd/
systemmonitorrc
systemsettingsrc
toolbox
transmission
trashrc
uv/
vicinae/
winboat
xdg-desktop-portal-kderc
xfce4
xsettingsd
yelp/
okularpartrc
okularrc
