bash/.bash_history
helix/runtime
**/*.lock
uv/
**/*.pyc
astro/
nextjs-nodejs/
dconf/
gtk-3.0/
evolution/
ibus/
org.gnome.Ptyxis/
pulse/
yelp/
.gsd-keyboard.settings-ported
dosbox
micro/buffers/history
micro/bindings.json
nautilus
qalculate
rclone
toolbox
arkrc
gnome-initial-setup-done
kdeglobals
knfsshare
menus/applications-merged
libreoffice/4
gtk-4.0
libaccounts-glib
session
xsettingsd
BraveSoftware/Brave-Browser
Code
KDE
fontconfig
kde.org
kdeconnect
kdedefaults
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
auroraerc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
discoverrc
dolphinrc
drkonqirc
filetypesrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kglobalshortcutsrc
kio_ftprc
kiorc
klaunchrc
konsolerc
konsolesshconfig
krfbrc
ksplashrc
ktimezonedrc
ktrashrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwriterc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
soffice.binrc
spectaclerc
systemmonitorrc
trashrc
xdg-desktop-portal-kderc
nushell/history.sqlite3
nushell/history.sqlite3-shm
nushell/history.sqlite3-wal
nushell/history.txt
VSCodium
goa-1.0
monitors.xml*
mimeapps.list
autostart
transmission
plasma-nm
ksmserverrc
kservicemenurc
kscreenlockerrc
krunnerrc
kmousetoolrc
kmousetool_strokes.txt
kmenueditrc
kgammarc
kded6rc
kcharselectrc
gwenviewrc
partitionmanagerrc
containers/policy.json
menus
signond
plasma_calendar_holiday_regions
htop
Qt
QtProject
qt6ct
katerc
micro/backups
xfce4
dgop
Thunar
DankMaterialShell
clangd
niri/dankshell-colors.kdl
kitty/dank-theme.conf
fish/fish_variables
fish/functions/fish_prompt.fish
